version: '3.9'

services:
  postgres:
    image: postgres:17
    container_name: postgres_happy_sandwich
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: happy_sandwich
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
